<a href="https://colab.research.google.com/github/daveselinger/scriptmonkey/blob/master/move_data_partition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from datetime import timedelta, datetime, date

# A script that will move data from one table to another (exact same schema) one day at a time.
# this is needed if the source table is too big to do a single transfer and would overflow buffers, cause full table scans etc.

# The name of the table used for input
source_table_name = 'event_log'
source_date_column_name = 'date_time'

# The name of the table used for output
dest_table_name = 'event_log_partition'

# The date range will be essentially -- one partition which will catch all events before start_date
# Followed by "day_count" partitions each with 1 day of data
start_date = date(2019, 1, 1)
day_count = 1100

engine = 'InnoDB'

last_date = start_date + timedelta(day_count-1)
one_day = timedelta(1)

for single_date in (start_date + timedelta(n) for n in range(day_count)):
  print ('INSERT INTO ' + dest_table_name + ' SELECT * from ' + source_table_name + ' where '+ source_date_column_name + ' >= \'' +  (single_date).strftime("%Y-%m-%d") + '\' AND date_time < \'' +  (single_date + one_day).strftime("%Y-%m-%d") +'\'')

INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-01' AND date_time < '2019-01-02'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-02' AND date_time < '2019-01-03'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-03' AND date_time < '2019-01-04'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-04' AND date_time < '2019-01-05'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-05' AND date_time < '2019-01-06'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-06' AND date_time < '2019-01-07'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-07' AND date_time < '2019-01-08'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-08' AND date_time < '2019-01-09'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-09' AND date_time < '2019-01-10'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-10' AND date_time < '2019-01-11'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-11' AND date_time < '2019-01-12'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-12' AND date_time < '2019-01-13'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-13' AND date_time < '2019-01-14'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-14' AND date_time < '2019-01-15'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-15' AND date_time < '2019-01-16'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-16' AND date_time < '2019-01-17'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-17' AND date_time < '2019-01-18'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-18' AND date_time < '2019-01-19'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-19' AND date_time < '2019-01-20'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-20' AND date_time < '2019-01-21'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-21' AND date_time < '2019-01-22'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-22' AND date_time < '2019-01-23'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-23' AND date_time < '2019-01-24'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-24' AND date_time < '2019-01-25'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-25' AND date_time < '2019-01-26'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-26' AND date_time < '2019-01-27'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-27' AND date_time < '2019-01-28'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-28' AND date_time < '2019-01-29'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-29' AND date_time < '2019-01-30'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-30' AND date_time < '2019-01-31'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-01-31' AND date_time < '2019-02-01'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-01' AND date_time < '2019-02-02'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-02' AND date_time < '2019-02-03'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-03' AND date_time < '2019-02-04'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-04' AND date_time < '2019-02-05'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-05' AND date_time < '2019-02-06'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-06' AND date_time < '2019-02-07'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-07' AND date_time < '2019-02-08'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-08' AND date_time < '2019-02-09'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-09' AND date_time < '2019-02-10'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-10' AND date_time < '2019-02-11'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-11' AND date_time < '2019-02-12'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-12' AND date_time < '2019-02-13'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-13' AND date_time < '2019-02-14'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-14' AND date_time < '2019-02-15'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-15' AND date_time < '2019-02-16'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-16' AND date_time < '2019-02-17'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-17' AND date_time < '2019-02-18'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-18' AND date_time < '2019-02-19'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-19' AND date_time < '2019-02-20'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-20' AND date_time < '2019-02-21'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-21' AND date_time < '2019-02-22'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-22' AND date_time < '2019-02-23'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-23' AND date_time < '2019-02-24'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-24' AND date_time < '2019-02-25'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-25' AND date_time < '2019-02-26'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-26' AND date_time < '2019-02-27'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-27' AND date_time < '2019-02-28'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-02-28' AND date_time < '2019-03-01'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-01' AND date_time < '2019-03-02'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-02' AND date_time < '2019-03-03'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-03' AND date_time < '2019-03-04'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-04' AND date_time < '2019-03-05'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-05' AND date_time < '2019-03-06'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-06' AND date_time < '2019-03-07'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-07' AND date_time < '2019-03-08'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-08' AND date_time < '2019-03-09'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-09' AND date_time < '2019-03-10'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-10' AND date_time < '2019-03-11'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-11' AND date_time < '2019-03-12'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-12' AND date_time < '2019-03-13'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-13' AND date_time < '2019-03-14'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-14' AND date_time < '2019-03-15'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-15' AND date_time < '2019-03-16'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-16' AND date_time < '2019-03-17'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-17' AND date_time < '2019-03-18'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-18' AND date_time < '2019-03-19'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-19' AND date_time < '2019-03-20'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-20' AND date_time < '2019-03-21'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-21' AND date_time < '2019-03-22'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-22' AND date_time < '2019-03-23'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-23' AND date_time < '2019-03-24'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-24' AND date_time < '2019-03-25'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-25' AND date_time < '2019-03-26'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-26' AND date_time < '2019-03-27'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-27' AND date_time < '2019-03-28'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-28' AND date_time < '2019-03-29'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-29' AND date_time < '2019-03-30'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-30' AND date_time < '2019-03-31'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-03-31' AND date_time < '2019-04-01'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-01' AND date_time < '2019-04-02'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-02' AND date_time < '2019-04-03'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-03' AND date_time < '2019-04-04'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-04' AND date_time < '2019-04-05'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-05' AND date_time < '2019-04-06'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-06' AND date_time < '2019-04-07'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-07' AND date_time < '2019-04-08'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-08' AND date_time < '2019-04-09'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-09' AND date_time < '2019-04-10'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-10' AND date_time < '2019-04-11'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-11' AND date_time < '2019-04-12'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-12' AND date_time < '2019-04-13'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-13' AND date_time < '2019-04-14'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-14' AND date_time < '2019-04-15'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-15' AND date_time < '2019-04-16'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-16' AND date_time < '2019-04-17'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-17' AND date_time < '2019-04-18'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-18' AND date_time < '2019-04-19'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-19' AND date_time < '2019-04-20'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-20' AND date_time < '2019-04-21'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-21' AND date_time < '2019-04-22'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-22' AND date_time < '2019-04-23'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-23' AND date_time < '2019-04-24'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-24' AND date_time < '2019-04-25'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-25' AND date_time < '2019-04-26'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-26' AND date_time < '2019-04-27'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-27' AND date_time < '2019-04-28'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-28' AND date_time < '2019-04-29'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-29' AND date_time < '2019-04-30'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-04-30' AND date_time < '2019-05-01'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-01' AND date_time < '2019-05-02'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-02' AND date_time < '2019-05-03'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-03' AND date_time < '2019-05-04'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-04' AND date_time < '2019-05-05'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-05' AND date_time < '2019-05-06'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-06' AND date_time < '2019-05-07'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-07' AND date_time < '2019-05-08'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-08' AND date_time < '2019-05-09'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-09' AND date_time < '2019-05-10'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-10' AND date_time < '2019-05-11'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-11' AND date_time < '2019-05-12'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-12' AND date_time < '2019-05-13'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-13' AND date_time < '2019-05-14'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-14' AND date_time < '2019-05-15'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-15' AND date_time < '2019-05-16'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-16' AND date_time < '2019-05-17'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-17' AND date_time < '2019-05-18'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-18' AND date_time < '2019-05-19'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-19' AND date_time < '2019-05-20'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-20' AND date_time < '2019-05-21'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-21' AND date_time < '2019-05-22'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-22' AND date_time < '2019-05-23'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-23' AND date_time < '2019-05-24'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-24' AND date_time < '2019-05-25'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-25' AND date_time < '2019-05-26'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-26' AND date_time < '2019-05-27'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-27' AND date_time < '2019-05-28'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-28' AND date_time < '2019-05-29'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-29' AND date_time < '2019-05-30'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-30' AND date_time < '2019-05-31'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-05-31' AND date_time < '2019-06-01'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-01' AND date_time < '2019-06-02'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-02' AND date_time < '2019-06-03'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-03' AND date_time < '2019-06-04'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-04' AND date_time < '2019-06-05'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-05' AND date_time < '2019-06-06'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-06' AND date_time < '2019-06-07'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-07' AND date_time < '2019-06-08'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-08' AND date_time < '2019-06-09'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-09' AND date_time < '2019-06-10'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-10' AND date_time < '2019-06-11'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-11' AND date_time < '2019-06-12'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-12' AND date_time < '2019-06-13'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-13' AND date_time < '2019-06-14'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-14' AND date_time < '2019-06-15'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-15' AND date_time < '2019-06-16'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-16' AND date_time < '2019-06-17'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-17' AND date_time < '2019-06-18'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-18' AND date_time < '2019-06-19'
INSERT INTO event_log_partition SELECT * from event_log where date_time >= '2019-06-19' AND date_time < '2019-06-20'